/* apt install woff2 ; woff2_compress font.ttf */
@font-face {
    font-family: "Red Hat Text";
    src: url('/font/RedHatText-VariableFont_wght.woff2');
}
@font-face {
    font-family: "Red Hat Mono";
    src: url('/font/RedHatMono-VariableFont_wght.woff2');
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "Red Hat Text", sans-serif;
    font-style: normal;
	font-size: max(1em, 18px);
}
body {
	margin: 0 auto;
	max-width: 60em;
}
:root {
	--bordure: lightgray;
	--code: #eee;
	--lien: #2b55ca;
	--lien_visite: #3E228C;
	--lien_bg: #f8f8f8;
	--lien_bg_hover: lightgray;
    --notice_bordure: #fff18b;
}
:where(h1) {
    margin-block: 0.67em;
    font-size: 2em;
}
header h1 {
	text-align: center;
	font-family: "Red Hat Mono", monospace;
	margin-bottom: 0;
}
header h1 a, header h1 a:visited {
	color: inherit;
}
header > p {
	text-align: center;
	margin-left: 6em;
	font-style: italic;
	margin-top: 0;
}
header nav p {
	text-align: right
}
header nav p a {
	background-color: var(--lien_bg);
	padding: 0.1em 0.4em;
}
header nav p a:hover {
	background-color: var(--lien_bg_hover);
}
header {
	padding: 0 0.5em;
}
footer {
	margin-top: 2em;
	margin-bottom: 2em;
}
footer p {
	text-align: center;
}
footer p > *, header nav p > * {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
article {
	padding: 0.5em;
}
article:not(:first-child) {
	border-top: 1px solid var(--bordure);
}
header {
	border-bottom: 1px solid var(--bordure);
}
article p {
	line-height: 1.6;
}
p.art-date {
	font-size: 80%;
}
a {
	color: var(--lien);
	text-decoration: none;
}
a:visited {
	color: var(--lien_visite);
}
article a {
	border-bottom: 1px dashed;
}
a.footnote-ref {
    font-family: "Red Hat Mono";
    border-bottom: none;
}
p.back-home, p.read-full {
	text-align: center;
}
p.back-home a, p.read-full a, .youtube a, .repo a {
	border-bottom: none;
}
p.index-pages {
	text-align: right;
	font-size: 80%;
}
p.index-pages > * {
	padding: 0.5em;
}
p.rss {
	font-size: 80%;
}
p.index-pages > span {
	text-decoration: underline dotted;
}
pre {
	background-color: var(--code);
	padding: 0.3em 0.5em;
	overflow: scroll;
} 
pre, code, div.highlight {
	font-family: "Red Hat Mono", monospace;
	background-color: var(--code) !important;
}
img {
	max-width: 100%;
	/* centrage */
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* shortcode repo */
.repo {
	background-color: var(--lien_bg);
	padding: 0.3em 2em 0.3em 0.6em;
	display: inline-block;
}
.repo p {
	margin: 0;
	line-height: initial;
}
.repo p.repo-type {
	font-size: 80%;
}
.repo-github {
	border-left: 4px solid black;
}
.repo-gitlab {
	border-left: 4px solid #fc6d26;
}
/* shortcode youtube */
.youtube {
	background-color: var(--lien_bg);
	padding: 0.4em;
	border-left: 4px solid red;
}
.youtube .youtube-thumb {
	position: relative;
}
.youtube p:last-child {
	font-size: 80%;
}
.youtube p {
	margin: 0;
	line-height: initial;
}
.youtube .youtube-thumb .youtube-play {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 25%;
}
/* shortcode notice */
div.notice {
	background-color: var(--lien_bg);
	padding: 0.1em 0.5em;
    border-left: 4px solid var(--notice_bordure);
}
/* index tiles */
main > h1 {
	text-align: center;
}
.index-tiles {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	gap: 8px;
}
.index-tiles a {
	border: 1px solid var(--bordure);
	color: inherit;
	padding: 0.5em;
}
.index-tiles a:hover {
	background-color: var(--lien_bg);
}
@media screen and (max-width: 60em) {
	header, main, footer {
		padding: 1em;
	}
}
/* mobile */
@media screen and (max-width: 450px) {
	body {
		margin: 0 0;
		max-width: initial;
	}
	header, main, footer {
		padding: 1em;
	}
	header nav p {
		margin-bottom: 0;
		margin-top: 2em;
		text-align: center;
	}
	article {
		padding: initial;
	}
	.index-tiles {
		grid-template-columns: repeat(1, 100%);
	}
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: white;
	}
	:root {
		--bordure: #333;
		--code: #333;
		--lien: #769DFF;
		--lien_visite: #876ECB;
		--lien_bg: #333;
		--lien_bg_hover: #444;
        --notice_bordure: #b1a544;
	}
}
@media print {
	body {
		font-size: initial;
	}
	header nav, footer, p.back-home {
		display: none;
	}
	article {
		padding: initial;
	}
	pre {
		padding: initial;
		overflow: visible;
		word-wrap: break-word;
		white-space: pre-wrap;
	}
	code, pre {
		background-color: initial;
		font-size: 90%;
	}
}
